@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-in-btn {
    @apply w-5 h-5 ml-2 text-secondary;
  }
  .icon-style {
    @apply w-6 h-6 text-secondary bg-bgGray rounded-full p-1;
  }
  .box-in-column {
    @apply flex flex-col flex-grow pr-5 pl-10 rounded-xl;
  }
}

/* body::-webkit-scrollbar {
  width: 7px;
  background-color: white;
}
body::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 1rem;
} */
/* ::-webkit-scrollbar-track {
  background: red;
  border-radius: 5px;
} */